.search-text{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
.search-text label{
    font-size: 2rem;
    font-weight: 100;
}
.bg-black{
    background-color: #222;
}
.text-black{
    color: #222;
    text-transform: capitalize;
    font-style: normal;
}
.genre{
    background-color: white;
    color: #000;
}

.search:hover{
 color: #000;
}