<div class="card-style">
    <div class="card-header display-7">
     Welcome to GbeduApp to search for your favorite music: 

     <a href="/" class="text-white"> click here</a>

    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="https://raw.githubusercontent.com/OloriAsabi/book-images/main/src/logo/Logo.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Olori Asabi</h3>
        </div>
  
        <div class="text-center">@oloriasabi</div>
        <div class="text-center">
          <a href="http://www.oloriasabi.com">www.oloriasabi.com</a>
        </div>
      </div>
    </div>
  </div>
